<!DOCTYPE html>
<html lang="en" th:include="template :: modelo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="conteudo">
        <div>
            <img src="img/chat.png" style="width:20px ;" alt="">
            <span>Conversas</span>
        </div>
        <div>
            <div>Conversa 1</div>
            <div>Conversa 2</div>
            <div>Conversa 3</div>
            <div>Conversa 4</div>

        </div>
    </div>

</body>

</html>